<!DOCTYPE html>
<html>

<head>
    <title>Safe Face Recognition</title>
</head>

<body>

    <h1>
        Sistema de Reconocimiento Facial
    </h1>

    <br><br>

    <a href="/login">
        Iniciar Sesión Facial
    </a>

    <br><br>

    <a href="/users">
        Usuarios
    </a>

    <br><br>

    <a href="/register">
        Registrar Usuario
    </a>

    <br><br>

    <a href="/logs">
        Logs Acceso
    </a>

    <br><br>

    <a href="/logout">
        Cerrar Sesión
    </a>

</body>

</html>