<!DOCTYPE html>
<html>
<head>
    <title>Registrar Usuario</title>
</head>
<body>
    <h1>
        Registrar Usuario
    </h1>
    <form
        action="/register_user"
        method="POST"
        enctype="multipart/form-data"
    >
        <label>
            Nombre:
        </label>
        <input
            type="text"
            name="nombre"
            required
        >
        <br><br>
        <label>
            ¿Otorgar Administrador?
        </label>
        <input type="checkbox" name = "administrador" value = 'true'>
        <button type="submit">
            Registrar
        </button>
    </form>
</body>
</html>